---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/PageTitle.astro";
import LinkTag from "./LinkTag.astro";
const { tags } = Astro.props.entry.data;

import { Image } from "astro:assets";
import assetIcon from "../assets/dv-icon.png";
---

<div class="title">
  <Image src={assetIcon} alt="Power Platform Icon" height="40" />

  <Default {...Astro.props}>
    <slot />
  </Default>
</div>

{
  tags != null &&
    tags.map((tag: string) => <LinkTag tag={tag} href={"/tags/" + tag + "/"} />)
}

<style>
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding-bottom: 2em;
  }

  img {
    margin-top: 1rem;
  }
</style>
